/* ***** CABECALHO ***** */
.appbar {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    height: 4rem;
    padding: 5px;
    background-color: #f7d736;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  }
  
.logo {
  height: 80%;
  margin: 5px;
}
  
.subtitle {
  margin: 5px;
}